<div class="index">
    <p>My name is Nick, I'm an iOS developer. I know Swift very well, Rust relatively well and</p>

    <p>I made Undebit, a minimalistic and very fast expense tracker.</p>

    <h2>Digital garden</h2>
    <p>Opinionated, personal, imperfect by design</p>
    {{#each posts}}
        {{> garden_preview this}}
    {{/each}}
</div>