<div class="index">
    <h1>Hi, I'm Nick!</h1>

    <p>I'm an iOS developer. I know Swift very well and Rust relatively well. I can read assembly. I also know some web things, as you may see. Black is a nice colour. Yes, I use British spellings.</p>

    <p>I made <a href="https://apps.apple.com/us/app/undebit/id1569472635">Undebit</a>, a minimalistic and very fast expense tracking app.</p>
    <br>
    <div class="dg-header">
        <h2>Digital Garden</h2>
        <p>Opinionated, personal, imperfect by design collection of notes that evolves with time.</p>
    </div>
    <ul class="garden-links">
        {{#each posts}}
            <li>{{> garden_preview this}}</li>
        {{/each}}
    </ul>
</div>