{{#*inline "smolLink"}}
    <a class="block text-sm" href="{{href}}">&gt;{{text}}</a>
{{/inline}}


<!DOCTYPE html>
<html>
<head>
	<title>NB</title>
	<link rel="stylesheet" href="/output.css">
</head>
<body class="bg-bg text-zinc-50">
	{{#if header}}
	<header class=" mx-2 my-10">{{> smolLink href="/" text="home" }}</header>
	{{/if}}
	<main class="mx-auto mb-20 w-11/12 font-sans">
		{{!-- Lookup variable "type" in the current scope and pass "content" as context --}}
    	{{> (lookup content "type") content }}
	</main>
</body>
</html>
