<!DOCTYPE html>
<html>
<head>
	<title>NB</title>
	<link rel="stylesheet" href="output.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Lato:wght@400;700" rel="stylesheet">
</head>
<body class="bg-black text-zinc-50">
	<main class="mx-auto w-11/12 font-sans">
		{{!-- Lookup variable "type" in the current scope and pass "content" as context --}}
    	{{> (lookup this "type") }}
	</main>
</body>
</html>