<!DOCTYPE html>
<html>
<head>
	<title>NB</title>
</head>
<body>
	<main>
		{{!-- Lookup variable "type" in the current scope and pass "content" as context --}}
    	{{> (lookup this "type") this.content }}
	</main>
</body>
</html>