{{#*inline "smolLink"}}
    <a class="block text-sm" href="{{href}}">&gt;{{text}}</a>
{{/inline}}


<!DOCTYPE html>
<html>
<head>
	<title>NB</title>
	<link rel="stylesheet" href="/output.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Lato:wght@400;700" rel="stylesheet">
</head>
<body class="bg-bg text-zinc-50">
	{{#if header}}
	<header class="">{{> smolLink href="/" text="home" }}</header>
	{{/if}}
	<main class="mx-auto mb-20 w-11/12 font-sans">
		{{!-- Lookup variable "type" in the current scope and pass "content" as context --}}
    	{{> (lookup content "type") content }}
	</main>
</body>
</html>
