<div class="grid grid-cols-5 ">
    <div class="col-span-2 flex flex-col">
        <div class="relative center-vert">
            <h1 class="text-[3rem]">Hi, I'm <span class="text-teal-500 font-bold font-mono">Nick</span></h1>
            <h2 class="text-[1.3rem]">I do <span class="text-teal-500 font-mono">{programming}</span>, and I'm very good at it</h2>
            <h3 class="mt-6 text-[1.15rem]">Currently iOS developer at <a class="font-bold text-teal-500 visited:text-teal-700" href="https://tbo.de/">TBO</a></h3>
            <div>
                <span>bio</span> <span>email</span>
            </div>
        </div>
    </div>
    <div class="col-span-3 mt-10 ml-10 flex flex-col gap-y-10 justify-between">
        <div>
            <h2 class="text-3xl text-teal-500 font-mono font-bold">Writing</h2>
            I have to say something about programming.
        </div>
        
        <div>
            <h2 class="text-3xl text-teal-500 font-mono font-bold">Library</h2>
            Resources that I like.
        </div>

        <div>
            <h2 class="text-3xl text-teal-500 font-mono font-bold">Photography</h2>
            I used to do some fashion photography. Maybe will do some more in the future. <br>
            View on <span>Unsplash</span>
        </div>
    </div>
</div>