<div>
    <h1 class="text-[4rem]">Hi, I'm <span class="text-teal-500 font-bold font-mono">Nick</span></h2>
    <h2 class="text-[2.5rem]">I do <span class="text-teal-500 font-mono">{programming}</span>, and I'm very good at it</h2>
    <h3 class="mt-6 text-[1.5rem]">Currently iOS developer at <a class="font-bold text-teal-500 visited:text-teal-700" href="https://tbo.de/">TBO</a></h3>
</div>

<div class="article">
    {{{content.text}}}
</div>