{{#*inline "postPreview"}}
    <div class=" bg-card p-2 my-5">
        <h3 class="text-lg text-accent font-bold text-center">{{title}}</h2>
        <p class="text-xs mt-2 text-center">
            {{abs}}
        </p>
    </div>
{{/inline}}

<h1 class="text-center text-3xl">Writing</h1>
<div class="max-w-prose mx-auto">
    {{#each posts}}
        {{> postPreview }}
    {{/each}}
</div>